.content {
  justify-self: center;
  max-width: 600px;
  line-height: 1.5;
  padding: 0.5em;
}

/* body {
  margin: ;
  outline: auto;
  outline-style: solid;
  outline-color: gray;
} */

h1,
h2 {
  justify-self: center;
  letter-spacing: 0.08em;
}

h1 {
  font-weight: bold;
  font-size: 2.5em;
}

h2 {
  color: #006eb6;
  font-size: 1em;
  letter-spacing: 0.25em;
}

header {
  margin: 3em;
}

p,
li {
  font-weight: bold;
  justify-self: auto;
  font-size: 20px;
  margin: 1em;
}

footer {
  justify-self: center;
  margin: 2.5em;
}

img {
  width: 9em;
}
