/*
Gold color: #EFC69B
Red color: #AF1B3F
Dark color: #473144
Body font: Helvetica, Arial, sans-serif
Headline font: Lora, Impact, serif (Lora can be found on Google Fonts.)
*/

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --primary-color: #abc4ab;
  /* dark green: #727D71 */
  --secondary-color: #6d4c3d;
  --accent-color: #a39171;
  --text-dark: #23231a;
  --text-light: #dcc9b6;
  --primary-font: Lora, optima, serif;
  --secondary-font: Arial, Helvetica, serif;
  /* --secondary-font: Palatino, Optima, san-serif; */
}

* {
  font-family: var(--primary-font);
}

.skiptocontent a {
  position: absolute;
  top: -40px;
  background-color: darkred;
}
.skiptocontent a:focus {
  position: absolute;
  top: 0px;
  color: blanchedalmond;
}

body {
  margin: 0;
  padding: 3em;
  font-family: var(--primary-font);
  font-size: 1.2em;
  /* text-align: center; */
  background-color: var(--primary-color);
}

a:link,
a:visited {
  /* color: var(--accent-color); */
  color: var(--text-light);
}

p {
  margin: 0.5em;
}

header {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 0.5em; /* maybe remove this */
  h1 {
    padding: 20px;
    justify-self: center;
  }
  nav {
    margin: 0 auto;
  }
}

.main-nav {
  /* the <ul> */
  display: grid;
  grid-template-columns: 110px 120px 120px;
  justify-items: end; /* stuff within items within grid container */
  justify-content: end; /* items within grid container */
  list-style: none;
  font-size: larger;
  /* li {
    max-width: 1em;
  } */
}

main {
  margin: 0;
  background-color: var(--primary-color);
  /* this grid places articles to left and filters to right */
  display: grid;
  grid-template-columns: 4fr 1fr;
}

article {
  display: grid;
  /* this grid places article details to left and content to right */
  grid-template-columns: 1fr 2fr;
  .date {
    font-size: larger;
  }
  .details {
    justify-items: end;
    border-right: solid #6d4c3d;
    border-spacing: 10px 0;
    /* padding: 10px; */
    div {
      padding: 4px 24px;
    }
  }
  .content {
    margin-top: -1em;
    padding-left: 24px;
    .img-container {
      justify-self: center;
    }
  }
}

.filter-form {
  border: solid #6d4c3d;
  /* margin-right: 1em; */
}

footer {
  padding: 1em;
  background-color: var(--primary-color);
  color: var(--text-light);
  display: flex;
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
}
h1 {
  font-weight: normal;
}
h3 {
  margin: 0;
  padding: 1em;
}
